body{
    font-family: Arial,sans-serif;
    background-color:#f0f8ff;
    padding:20px;
  }
  h1{
    text-align:center;
     color: #333;
  }
  .todo-list{
    list-style-type:none;
    padding:0;
  }
  .todo-list li{
    margin-bottom:20px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius:8px;
  }
  .sub-item-link {
    text-decoration:none;
    color: #1e90ff;
    font-weight:bold;
  }
  .sub-item {
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 20px;
  }
  .sub-item-link:visited {
    color: #6a5acd;}
  .sub-item-link:hover {
    color: #20b2aa;}
  .sub-item-link:focus {
    outline: 2px dashed #ff6347;}
    .sub-item-link:active{
    color: #ff4500;}